
.section__title {
    color: #1c4b82;
}

.section__paragraph {
    color: #dae1e7;
}

.section__subtitle {
    color: #df0054;
}

.section__paragraph--secondary {
    color:#dae1e7;
}

.section__list {
        color: #dae1e7;
}